# Test Run

## For pipenv

`$ pipenv run python -m pytest`

## Basic python

`$  python -m pytest`
